@inherits RazorTemplateFolderHost<GridMvc.Site.Models.Order>
<tr>
<td>@Model.OrderID</td><td>@Model.CustomerID</td><td>@Model.EmployeeID</td><td>@Model.OrderDate</td><td>@Model.RequiredDate</td><td>@Model.ShippedDate</td><td>@Model.ShipVia</td><td>@Model.Freight</td><td>@Model.ShipName</td><td>@Model.ShipAddress</td><td>@Model.ShipCity</td><td>@Model.ShipRegion</td><td>@Model.ShipPostalCode</td><td>@Model.ShipCountry</td><td>@Model.Customer</td><td>@Model.Employee</td><td>@Model.OrderDetails</td></tr>
